* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cream);
    color: var(--wood-brown);
    font-family: 'Libre Baskerville', sans-serif;
}

/* Color palette */
:root {
    --wood-brown: #A0522D;
    --light-wood: #DEB887;
    --dark-brown: #8B4513;
    --warm-green: #D3E2CA;
    --dark-green: #5D764D;
    --radish: #B93559;
    --cream: #FFF5EE;
}
